


@media (min-width: 850px){
    .container {
        padding: 0;
    }
    .nav{
        position: static;
        width: auto;
        display: flex;
        overflow: visible;
        max-height: none;
        justify-content: flex-end;
        align-items: center;
        background: none;
        box-shadow: none;
        padding: 0;

        & ul {
            display: flex;
            gap: 5px;

            & li {
                margin: 0;
            }
        }
    }
    .nav__toggle {
        display: none;
    }
    .hero__content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 100px;
        gap: 50px;
    }
    .titulo {
        font-size: 1.8rem;
    }

    
}