


@media (min-width: 850px){
    .container {
        padding: 0;
    }
    .nav{
        position: static;
        width: auto;
        display: flex;
        overflow: visible;
        max-height: none;
        justify-content: flex-end;
        align-items: center;
        background: none;
        box-shadow: none;
        padding: 0;

        & ul {
            display: flex;
            gap: 5px;

            & li {
                margin: 0;
            }
        }
    }
    .nav__toggle {
        display: none;
    }
    .hero__content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 100px;
        gap: 10px;
    }
    .titulo {
        font-size: 1.8rem;
    }
    .about {
        min-height: 100vh;
        padding-top: 120px;
    }
    
    .about .container{
        display: flex;
        flex-direction:row ;
        gap: 25px;
    }
    .about__image {
        height: 500px;
        flex: 1;
        padding-top: 50px;

        & img {
            height: 100%;
        }
    }

    .about__description {
        padding-top: 50px;
        flex: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
       
    }

    
}