
:root {
    --bg: #ececec;
    --text: #2b2b2b;
    --accent-blue: #5a86ff;
    --accent-red: #ff6b6b;
    --white: #ffffff;
    --black: #000000;
    --gray-light: #d0d0d0;
    --gray-dark: #555555;
}

/**Reset*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* quitar las viñetas por defecto */
  ol, ul {
    list-style: none;
  }
  /*  imágenes responsivas */
  img {
    max-width: 100%;
    height: auto;
  }
  h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }