
:root {
    --bg: #ececec;
    --text: #2b2b2b;
    --accent-blue: #5a86ff;
    --accent-red: #ff6b6b;
    --white: #ffffff;
    --black: #000000;
    --gray-light: #d0d0d0;
    --gray-dark: #555555;
}

/**Reset*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* quitar las viñetas por defecto */
  ol, ul {
    list-style: none;
  }
  /*  imágenes responsivas */
  img {
    max-width: 100%;
    height: auto;
  }
  h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: "Inter", sans-serif;
  }
  .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }


  /**    header section   */

  .header {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
  }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }
  .logo {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
  }
  .nav__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    & span {
        font-size: 32px;
        color: var(--white);
        line-height: 1; 
    }
  }
  .nav {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: var(--text);
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height .35s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        & ul {
            padding: 20px 0;
            margin: 0;

            & li{
                text-align: center;
                margin: 0;
                padding: 15px;
                transition: background-color .3s easy;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            & li:last-child {
                margin-bottom: 0;
            }
        }
        & a{
            text-decoration: none;
            font-size: 1.1rem;
            color: var(--white);
            font-weight: 500;
            transition: color 0.3s;

            &:hover {
                color: var(--accent-blue);
            }
        }
  }
  .nav.open {
    max-height: 50vh;
  }
  

