@media (min-width: 600px){
    .container {
        padding: 0 50px;
    }
    .hero__content {
        padding-top: 110px;
    }
    .hero__img img {
        width: 200px;
        height: 200px;
    }
    .hero__text {
        font-weight: 16px;
        padding: 20px;
    }
    .titulo {
        font-size: 2rem;
    }
    
}